[Unit]
Description=Octessera setup portal
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=exec
User=root
Group=root
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
ReadWritePaths=/etc/hostname /etc/hosts /etc/passwd /etc/shadow /etc/group /etc/gshadow /etc/ssh /etc/systemd/system /etc/modprobe.d /etc/default /etc/NetworkManager/system-connections /var/lib/octessera /home/octessera /run/octessera /run/octessera-setup -/run/octessera-setup-control -/run/octessera-setup-status
RuntimeDirectory=octessera-setup
RuntimeDirectoryMode=0700
ExecStartPre=/usr/local/sbin/octessera-setup-start
ExecStart=/usr/local/sbin/octessera-wifi-connect
ExecStopPost=/usr/local/sbin/octessera-setup-cleanup
RuntimeMaxSec=1800s
TimeoutStopSec=10s
KillMode=control-group
KillSignal=SIGTERM
SendSIGKILL=yes
Restart=no

[Install]
WantedBy=multi-user.target
