/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&spidev1>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@1 {
        target = <&spi0>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            mmc@1 {
                compatible = "mmc-spi-slot";
                reg = <1>;
                spi-max-frequency = <10000000>;
                voltage-ranges = <3300 3300>;
                /* Card detect on GPIO20, high when a card is present, pull-up. */
                gpios = <&gpio 20 0x10>;
            };
        };
    };
};
